@font-face {
  font-family: "open-sans-semi-bold";
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "open-sansRegular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "open-sans-extraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "open-sansBold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gallery .description, .filterWrapper div, .filterWrapper, .HeaderWrapper {
  display: flex;
  justify-content: space-between;
}

.bodyWrapper {
  max-width: 1238px;
  width: 100%;
  margin: 0 auto;
}

.contact h1, .about h1 {
  padding: 40px 0;
  font-size: 26px;
  color: #383737;
}

.HeaderWrapper {
  padding: 18px 30px;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(241, 236, 236, 0.616), 0 2px 3px #f3f0f0;
}

.logo {
  display: flex;
  font-weight: bold;
  font-size: 30px;
  border: 2px solid #383737;
  font-family: "open-sans-extraBold";
}

.bag {
  position: relative;
  font-size: 20px;
}

.productCounter {
  position: absolute;
  border-radius: 50%;
  padding: 2px 4px;
  background-color: #F14152;
  color: white;
  right: -4px;
  top: -4px;
  font-size: 10px;
  font-family: "open-sans-semi-bold";
}

.fa.fa-bars, .fa.fa-times {
  cursor: pointer;
  font-size: 20px;
}

.K {
  background-color: #383737;
  color: white;
  padding: 0 5px;
}

.G {
  padding: 0 5px;
  color: #383737;
}

.sideBar {
  padding: 20px 30px;
  width: 240px;
  transform: translate(-100%);
  height: calc(100vh - 113px);
  transition: 0.7s;
  box-shadow: 0 2px 3px 0 rgba(224, 224, 224, 0.616), 0 3px 5px #dad6d6;
  position: absolute;
  margin-top: 1px;
  z-index: 12;
  background-color: white;
  font-family: "open-sans-semi-bold";
}

.sideBar.slide {
  transform: translate(0);
}

.opacity {
  opacity: 0.4;
}

.sideBar ul {
  padding-top: 10px;
}
.sideBar li {
  padding-bottom: 40px;
  font-size: 14px;
  color: #383737;
  font-weight: bold;
  opacity: 0.8;
  transition: 0.3s;
}
.sideBar li:hover {
  color: black;
  opacity: 1;
}

.none {
  display: none;
}

.bodyWrapper {
  font-family: "open-sansRegular";
  transition: 0.4s;
  padding-bottom: 30px;
}
@media only screen and (max-width: 1300px) {
  .bodyWrapper {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
}

.filterWrapper {
  font-size: 14px;
  padding-top: 20px;
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .filterWrapper {
    flex-direction: column;
  }
}
.filterWrapper div {
  align-items: center;
}
@media only screen and (max-width: 1000px) {
  .filterWrapper div {
    padding: 5px 0;
  }
}
.filterWrapper div button {
  font-size: 14px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
.filterWrapper div button:hover {
  background-color: #383737;
  color: white;
}
.filterWrapper select {
  width: 200px;
  padding: 9px 10px;
  font-size: 14px;
  border: 1px solid #383737;
  color: #383737;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 1000px) {
  .filterWrapper select {
    margin-top: 20px;
  }
}

.productFound {
  font-family: "open-sansBold";
  padding-right: 8px;
}

.productFoundText {
  padding-right: 80px;
}
@media only screen and (max-width: 1000px) {
  .productFoundText {
    padding-right: 0;
  }
}

.selected {
  background-color: #383737;
  color: white;
}

.unSelected {
  background-color: white;
  color: #383737;
}

.sizesWrapper {
  width: 280px;
}

.galleryWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 294px);
  grid-gap: 20px;
  justify-content: center;
}
.galleryWrapper img {
  width: 100%;
  height: 100%;
}

.gallery {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 385px;
  margin: 0 20px 20px 0;
}
.gallery .picture {
  width: 100%;
  height: 270px;
  position: relative;
}
.gallery .description {
  font-size: 14px;
  padding: 20px 20px 15px 20px;
}
.gallery .description .mainPrice {
  font-family: "open-sansBold";
}
.gallery button {
  border: 1px solid #383737;
  outline: none;
  background: white;
  color: #383737;
  padding: 10px 0;
  width: 256px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "open-sansRegular";
}
.gallery button:hover {
  background-color: #383737;
  color: white;
}
.gallery button i {
  padding-right: 10px;
}
.gallery .buttonWrapper {
  display: flex;
  justify-content: center;
}

.galleryWrapper {
  padding-top: 30px;
}

.freeShipping {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 11px;
  font-size: 12px;
  color: white;
  background-color: #383737;
  font-weight: "open-sansRegular";
}

.dark {
  background-color: #383737;
  color: white;
}

.light {
  color: #383737;
  background-color: white;
}

.sizesWrapper {
  display: flex;
}

@media only screen and (max-width: 1300px) {
  .about {
    padding: 0 50px;
  }
}
.about h1 {
  font-family: "open-sans-semi-bold";
}
.about p {
  font-size: 16px;
  line-height: 1.7;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contact h1 {
  font-family: "open-sans-semi-bold";
}
@media only screen and (max-width: 1000px) {
  .contact h1 {
    padding: 25px 0;
  }
}
.contact form {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 364px;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .contact form {
    width: 245px;
    margin: 0 auto;
  }
}
.contact form textarea {
  padding: 10px;
  font-family: "open-sansRegular";
}
.contact form input, .contact form button {
  padding: 10px 10px;
  font-family: "open-sansRegular";
}
.contact form button:disabled {
  background-color: gray;
}

.submit {
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.green {
  background-color: #158015;
  transition: 0.5s;
  font-weight: bold;
}

.dark {
  background-color: #383737;
  font-weight: bold;
  transition: 0.7s;
}

.admin {
  display: flex;
  flex-direction: column;
}
.admin div {
  display: flex;
  padding: 5px 0;
}
.admin i {
  cursor: pointer;
  font-size: 30px;
}
.admin form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  line-height: 1.6;
}
.admin .addProduct {
  display: flex;
  justify-content: center;
  order: 1;
  width: 268px;
}
.admin .addProduct form {
  width: 100%;
}
.admin button {
  padding: 10px;
  margin-top: 10px;
  width: 100px;
  margin: 10px auto;
}

.adminForms {
  flex-direction: column;
  max-width: 910px;
  width: 100%;
  order: 2;
  margin: 0 auto;
}
.adminForms th {
  border: 1px solid black;
  padding: 20px;
  font-weight: bold;
}
.adminForms tbody {
  border: 1px solid black;
  font-size: 14px;
  line-height: 1.3;
}
.adminForms tbody td, .adminForms tbody tr {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

.sizeCheckbox {
  display: flex;
  align-items: center;
}

.adminEdit {
  background-color: green;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "open-sans-semi-bold";
}

.adminDelete {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-family: "open-sans-semi-bold";
}

.cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}
.cart i {
  text-align: center;
  padding: 20px 0;
}
.cart h1 {
  text-align: center;
  font-size: 30px;
  font-family: "open-sans-semi-bold";
  color: #383737;
}

.cartItemWrapper {
  display: flex;
  flex-direction: column;
  margin: 74px auto;
}

.cartTotalWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .cartTotalWrapper {
    justify-content: center;
  }
}
@media only screen and (max-width: 1300px) {
  .cartTotalWrapper {
    justify-content: center;
  }
}

.cartItems {
  height: 111px;
  width: 610px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 600px) {
  .cartItems {
    height: 243px;
    width: 298px;
    flex-direction: column;
  }
}
.cartItems img {
  width: 100px;
  height: 100%;
}

.lineTotalWrapper {
  padding: 50px 0;
}

.line {
  width: 148px;
  height: 1px;
  background-color: black;
  margin: 20px 0;
}

.total {
  padding: 27px;
}
@media only screen and (max-width: 1300px) {
  .total {
    padding: 6px;
  }
}
.total span {
  font-family: "open-sansBold";
  padding: 0 5px;
}

.imgWrapper {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.cartPrice {
  color: #383737;
  padding: 10px 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cartPrice span {
  padding: 5px;
  font-family: "open-sansBold";
  font-size: 16px;
}

.cartButtons {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  .cartButtons {
    padding: 5px 50px;
  }
}
.cartButtons .remove {
  border: 1px solid #CD1A2C;
  padding: 10px 30px;
  color: #CD1A2C;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  font-size: 14px;
  transition: 0.2s;
}
.cartButtons .remove:hover {
  background-color: #CD1A2C;
  color: white;
}

.quantity {
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .quantity {
    padding: 5px 20px;
  }
}
.quantity button {
  border: none;
  background-color: #ffffff;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}
.quantity span {
  font-family: "open-sansBold";
}

.checkout {
  width: 100px;
  margin: 0 auto;
  padding: 10px 0;
  border: 2px solid #383737;
  background-color: white;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 1300px) {
  .lineTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.bag2 {
  font-size: 50px;
}

.individualProductWrapper {
  display: flex;
  align-items: space-between;
  padding: 50px;
  height: 405px;
}
@media only screen and (max-width: 600px) {
  .individualProductWrapper {
    display: block;
  }
}
.individualProductWrapper img {
  max-width: 440px;
  width: 100%;
  height: 100%;
}
.individualProductWrapper h1 {
  font-size: 18px;
  padding: 5px 0;
}
.individualProductWrapper p {
  font-size: 14px;
  padding: 20px 0;
  line-height: 1.4;
  color: #383737;
}
.individualProductWrapper span {
  font-weight: bold;
  padding: 20px 0;
}
.individualProductWrapper button {
  border: 1px solid #383737;
  outline: none;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}
@media only screen and (max-width: 600px) {
  .individualProductWrapper button {
    padding: 5px;
  }
}
.individualProductWrapper button:hover {
  background-color: #383737;
  color: white;
}

.indProductInfo {
  width: 100%;
  padding: 1px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .indProductInfo {
    padding: 0px;
  }
}

.sizesWrapper2 {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .sizesWrapper2 {
    padding: 10px 0;
  }
}
.sizesWrapper2 button {
  font-size: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
}
@media only screen and (max-width: 600px) {
  .sizesWrapper2 button {
    width: 31px;
    height: 31px;
  }
}

.addBtn {
  width: 256px;
  height: 40px;
  background: white;
  font-family: "open-sansRegular";
}
@media only screen and (max-width: 600px) {
  .addBtn {
    width: 100%;
  }
}
.addBtn i {
  padding-right: 5px;
}

.infoWrapper {
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .itemButtonWrapper {
    padding-bottom: 20px;
  }
}

/*# sourceMappingURL=output.css.map */
