.about{
  @include responsive(medium){
    padding: 0 50px;
  }
    h1{
      @extend %heading;
      font-family: 'open-sans-semi-bold';
    }
    p{
        font-size: 16px;
        line-height: 1.7;
        padding-bottom: 20px;
    }
}