.admin{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
    }
    i{
        cursor: pointer;
        font-size: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 400px;
        line-height: 1.6;
    }
    .addProduct{
        display: flex;
        justify-content: center;
        order: 1;
        width: 350px;
        form{
            width:100%;
        }
    }
    button{
        padding: 10px;
        margin-top: 10px;
        width: 100px;
        margin: 10px auto;
    }
}
.adminForms{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 960px;
    width: 100%;
    order: 2;
    margin: 0 auto;
    th{
        border: 1px solid black;
        padding:20px;
        font-weight: bold;
    }
    tbody{
        border: 1px solid black;
        td,tr{
            border: 1px solid black;
            text-align: center;
            padding: 10px;
            vertical-align: middle;
        }
    }
 
}
        
.sizeCheckbox{
    display: flex;
    align-items: center;
}
.adminEdit{
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;

}
.adminDelete{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}