.sideBar{
    padding:20px 30px;
    width: 200px;
    transform: translate(-100%);
    height: calc(100vh - 135px);
    transition: 1s;
    border-right: 1px solid rgb(230, 226, 226);
    position: absolute;
    z-index: 12;
    background-color: white;
}
.sideBar.slide{
    transform: translate(0);
}
.sideBar {
    li{
    padding-bottom: 40px;
    color: $mainColor;
    font-weight: bold;
    opacity: 0.8;
    transition: .3;
    &:hover{
        color: black;
        opacity: 1;
    }
    }
}
.none{
    display:none
}
.bodyWrapper{
    @extend %wrapper;
}

.filterWrapper{
    padding-top: 20px;
    padding-bottom: 11px;;
    @extend %spaceBetween;
    align-items: center;
    div{
        @extend %spaceBetween;
        align-items: center;
        button{
            font-size: 14px;
            padding: 20px;
             cursor: pointer;
             border: none;
             outline: none;
             &:hover{
                 background-color: $mainColor;
                 color: white;
             }
        }
    }
    select{
        width: 240px;
        padding: 15px 10px;
        font-size: 14px;
        border: 2px solid $mainColor;
        color: $mainColor;
        outline: none;
    }
}
.productFound{
    font-weight: bold;
    padding-right: 8px;
    color: $mainColor;
}
.selected{
    background-color:  #383737;
    color: white;
}
.unSelected{
    background-color: white;
    color: #383737;
}
.sizesWrapper{
    width: 280px;

}
.galleryWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img{
        width: 100%;
        height: 100%;
    }
    
}
.gallery{
    box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);;
    width: 295px;
    height: 385px;
    margin: 0 20px 20px 0;
    .picture{
        width: 100%;
        height: 270px;
        position: relative;
    }
    .description{
        @extend %spaceBetween;
        padding: 20px 20px;
        .mainPrice{
            font-weight: bold;
            color: $mainColor;
        }
    }
    button{
        border: 1px solid $mainColor;
        outline: none;
        background: white;
        padding: 10px 0;
        width: 254px;
        cursor: pointer;
        transition: 0.2s;
        &:hover{
            background-color: $mainColor;
            color: white;
        }
        i{
            padding-right: 10px;
        }
    }
    .buttonWrapper{
        display: flex;
        justify-content: center;
    }
}
.galleryWrapper{
    padding-top: 30px;
}
.freeShipping{
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 18px;
    color: white;
    background-color: #383737;
}
.dark{
    background-color: #383737;
    color: white;
}
.light{
    color: #383737;
    background-color: white;
}
.sizesWrapper{
    display: flex;
}
