.cart{
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 60vh;
    
    i{
        text-align: center;
        padding: 20px 0;
    }
    h1{
        text-align: center;
        font-size: 30px;
        font-family: 'open-sans-semi-bold';
        color: #383737;
    }
}
.cartItemWrapper{
    display: flex;
    flex-direction: column;
    margin: 74px auto;
}
.cartTotalWrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include responsive(phone){
          justify-content: center;
        }
        @include responsive(medium){
            justify-content: center;
        }
}
.cartItems{
    height: 111px;
    width: 610px;
    margin-bottom:50px;
    display: flex;
    justify-content: space-between;;
    box-shadow:  0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    @include responsive(phone){
        height:  243px;
        width: 298px;
        flex-direction: column;
    }
    img{
        width: 100px;
        height: 100%;
    }
}
.lineTotalWrapper{
    padding: 50px 0;
}
.line{
    width: 148px;
    height: 1px;
    background-color: black;
    margin: 20px 0;
}
.total{
    padding: 27px;
    @include responsive(medium){
        padding: 6px;
    }
    span{
        font-family: 'open-sansBold';
        padding: 0 5px;
    }
}
.imgWrapper{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.cartPrice{
    color: $mainColor;
    padding: 10px 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    span{
        padding: 5px;
        font-family: 'open-sansBold';
        font-size: 16px;
       
    }
}
.cartButtons{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include responsive(phone){
    padding: 5px 50px;

    }
    .remove{
        border: 1px solid #CD1A2C;
        padding: 10px 30px;
        color: #CD1A2C;
        background-color: #ffffff;
        cursor: pointer;
        outline: none;
        font-size: 14px;
        transition: .2s;
        &:hover{
            background-color: #CD1A2C;
            color: white;
        }
    }
}
.quantity{
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include responsive(phone){
        padding: 5px 20px;
    }
    button{
        border: none;
        background-color: #ffffff;
        outline: none;
        font-size: 20px;
        cursor: pointer;
    }
    span{
        font-family: 'open-sansBold';
    }
}
.checkout{
    width: 100px;
    margin: 0 auto;
    padding: 10px 0;
    border: 2px solid $mainColor;
    background-color: white;
    cursor: pointer;
    outline: none;
}


.lineTotal{
    @include responsive(medium){
display: flex;
flex-direction: column;
align-items: center;
    }
}
.bag2{
    font-size: 50px;
}