


.contact{
    h1{
        @extend %heading
    }
    form{
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 364px;
        justify-content: space-between;
        textarea{
            padding: 10px;
        }
        input,button{
            padding: 10px 10px;
          
        }
        button:disabled{
            background-color: gray;
        }
    }
}

.submit{
    outline:none;
    border: none;
    color: white;
    cursor: pointer;
}
.green{
    background-color: rgb(21, 128, 21);
    transition: 0.5s;
    font-weight: bold;

}
.dark{
    background-color: $mainColor;
    font-weight: bold;
    transition: 0.7s;
}