.HeaderWrapper{
    @extend %spaceBetween;
    padding: 20px 30px;
    align-items: center;
}

.logo{
    display: flex;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid  $mainColor;
}
.fa.fa-shopping-bag{
    position: relative;
    font-size: 20px;
}
.productCounter{
    position: absolute;
    border-radius: 50%;
    padding: 2px 4px;
    background-color: #F14152;
    color: white;
    right: -4px;
    top: -4px;
    font-size: 10px;
}
.fa.fa-bars,.fa.fa-times{
    cursor: pointer;
    font-size: 20px;
    width: 50px;
}
.K{
    background-color: $mainColor;
    color: white;
    padding:2px 5px;
}

.G{
    padding:2px 5px;
    color:  $mainColor;
}

hr{
    color: gray;
    opacity: 0.2;
}

