.individualProductWrapper{
    display: flex;
    align-items: space-between;
    padding: 50px;
    @include responsive(phone){
        display: block;
    }
    img{
        max-width: 440px;
        width: 100%;
    }
    h1{
        font-size: 18px;
        padding: 10px 0;
    }
    p{
        font-size: 14px;
        padding: 20px 0;
        line-height: 1.4;
        color: $mainColor;
    }
    span{
        font-weight: bold;
        padding: 20px 0;
    }
    button{
        border: 1px solid $mainColor;
        outline: none;
        padding: 10px;
        cursor: pointer;
        transition: 0.2s;
        @include responsive(phone){
            padding: 5px;
        }
     &:hover{
         background-color: $mainColor;
         color: white;
     }
    }

}
.indProductInfo{
   width: 100%;
   padding: 4px 30px;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include responsive(phone){
        padding: 0px;
    }
}
.sizesWrapper2{
    display: flex;
    align-items: center;;
        button{
            font-size: 14px;
             cursor: pointer;
             border: none;
             outline: none;
        }
}
.addBtn{
    width: 240px;
    background: white;
    @include responsive(phone){
        width:100%;
    }
}

