@font-face{
    font-family: 'open-sans-semi-bold';
    src:url('../fonts/OpenSans-SemiBold.ttf')
}

@font-face{
    font-family: 'open-sansRegular';
    src:url('../fonts/OpenSans-Regular.ttf')
}

@font-face{
    font-family: 'open-sans-extraBold';
    src:url('../fonts/OpenSans-ExtraBold.ttf')
}
@font-face{
    font-family: 'open-sansBold';
    src:url('../fonts/OpenSans-Bold.ttf')
}

